.breadcrumbs {
  display: flex;
  padding: 0;
}

.crumb {
  position: relative;
}

.crumb + .crumb::before {
  content: 'â¯';
  position: absolute;
  top: 50%;
  left: -4px; /* quarter of .mat-list-item-content padding */
  transform: translateY(-50%);
}
