<div padding
     class="warning-block"
     *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<ng-container *ngIf="!loggedAs">
  <form #loginForm="ngForm"
        (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label floating
                 class="required">Login</ion-label>
      <ion-input name="login"
                 type="text"
                 required
                 pattern="{{ validation.login.pattern }}"
                 #login="ngModel"
                 [(ngModel)]="model.login"></ion-input>
    </ion-item>
    <input-error [input]="login"></input-error>
    <input-note>Only latin characters</input-note>

    <ion-item>
      <ion-label floating
                 class="required">
        Password
      </ion-label>
      <ion-input type="password"
                 name="password"
                 required
                 pattern="{{ validation.password.pattern }}"
                 #password="ngModel"
                 [(ngModel)]="model.password"></ion-input>
    </ion-item>
    <input-error [input]="password"></input-error>
    <input-note>Latin characters and numbers</input-note>

    <div padding>
      <button type="submit"
              ion-button
              color="primary"
              block
              [disabled]="!loginForm.form.valid">
        Sign In
      </button>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="loggedAs">
  <div padding>
    Logged as:
    <strong>{{ loggedAs.name }}</strong>
  </div>

  <div padding>
    <button type="button"
            ion-button
            color="primary"
            block
            (click)="logOut()">
      Sign out
    </button>
  </div>
</ng-container>