/* You can add global styles to this file, and also import other style files */
@import 'https://cdn.jsdelivr.net/npm/bootstrap@4.0.0-beta/dist/css/bootstrap-reboot.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.warning-block {
  padding: 16px;
  margin: 8px 0;
  color: rgba(254, 172, 61, 1);
  background-color: rgba(254, 172, 61, 0.15);
  border: solid 1px rgba(254, 172, 61, 0.3);
}

.full-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
