/* You can add global styles to this file, and also import other style files */
@import 'https://cdn.jsdelivr.net/npm/bootstrap@4.0.0-beta/dist/css/bootstrap-reboot.min.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.warning-block {
  padding: 16px;
  margin: 8px 0;
  color: rgba(254, 172, 61, 1);
  background-color: rgba(254, 172, 61, 0.15);
  border: solid 1px rgba(254, 172, 61, 0.3);
}

.full-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dialog-actions {
  justify-content: flex-end;
}

.mat-card-actions {
  display: flex !important;
  justify-content: center;
  margin-bottom: -16px;
}

.mat-form-field + .mat-form-field {
  margin-top: 8px;
}

.mat-card-content-form {
  display: flex !important;
  flex-direction: column;
}
